<style>
            h1
            {
                        color: grey;
            }
            h2
            {
                        Color: Green;
            }
            h4
            {
                        Color: red;
            }
</style>
