body {
  background-color: #f0f4ff; /* léger bleu clair */
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
  color: #ff4d4d; /* rouge vif */
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: #336699; /* bleu plus foncé */
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #ffcccc; /* léger rouge clair */
  stroke: #336699; /* bleu foncé pour les bordures */
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: #336699; /* bleu foncé pour le texte des nœuds */
}

path.link {
  fill: none;
  stroke: #ff4d4d; /* rouge pour les liens */
  stroke-width: 1px;
}
