body {
  background: linear-gradient(to right, #1A237E, #FF4D4D); /* dégradé bleu foncé à rouge */
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
  color: #ffffff; /* texte en blanc pour contraster avec le fond */
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: #ffffff; /* texte en blanc */
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #ffffff; /* fond blanc pour les cercles */
  stroke: #FF4D4D; /* rouge pour les bordures */
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: #ffffff; /* texte en blanc pour contraster */
}

path.link {
  fill: none;
  stroke: #ffffff; /* liens en blanc */
  stroke-width: 1px;
}
